<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/jpeg" href="/images/SkillConnect-favicon.jpeg">
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}" />
    <title>SkillConnect: Home</title>
</head>
<body>
    <header class="header">
        <div class="header-content">
            <a href="home">
                <img
                     src="/images/SkillConnect-favicon.jpeg"
                     alt="SkillConnect"
                     title="SkillConnect"
                     /> 
            </a>
            <h1 class="logo">SkillConnect: Revolutionizing the Way You Work</h1>
            <nav class="nav">
                <a href="home">Home</a>
                <a href="aboutUs">About Us</a>
            </nav>
        </div>
    </header>
    
    <main>
        <div>
            <h1>
                Welcome to SkillConnect!
            </h1>
            <h2>
                Streamline your work, maximize your potential.
            </h2>
            <p>
                SkillConnect helps you stay organized, collaborate effortlessly, and boost productivity — all in one platform. Whether you're working solo or with a team, 
                SkillConnect makes managing tasks and projects easier than ever. Start today and take control of your workflow!
                Choose your role
            </p> 
        </div>
        
        <div class="button-container">
            <a href="client-sign-in">
                <button class="btn-primary">Client</button>
            </a>
            <a href="freelancer-sign-in">
                <button class="btn-primary">Freelancer</button>
            </a>
            <a href="/admin-login">
                <button class="btn-primary">Admin</button>
            </a>
        </div>
    </main>
    
</body>
</html>